.container__full--header {
    max-height: 161px !important;
    background: none !important;
    height: auto !important;
    position: absolute !important;
    z-index: 100;
    width: 100% !important;
    top: 5%;
    transform: translateY(-5%);
    @include animate-css(fadeIn);
    .container-1200__header {
        width: 100% !important;
        height: calc(97px - 6px * 2) !important;
        background: $background-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 6px 25px;
        .header__navigate {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .navigate__item--logo {
                width: 15%;
                height: 100%;
                .logo__element {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: block;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .navigate__item--menu {
                width: 65%;
                height: 100%;
                ul {
                    height: 100%;
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin: 0 !important;
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: max-content;
                        padding: 5px 10px;
                        &:hover>a>span {
                            cursor: pointer;
                            color: $color-blue !important;
                        }
                        &:hover>a>svg.icon--menu path {
                            cursor: pointer;
                            stroke: $color-blue !important;
                        }
                        a {
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            span {
                                color: #181818;
                                padding: 15px 6px;
                                font-family: "Mulish", sans-serif;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px !important;
                                line-height: 54.38%;
                                text-align: center;
                                letter-spacing: -0.025em;
                            }
                            svg.icon--menu {
                                stroke: #181818 !important;
                            }
                        }
                    }
                }
            }
            .navigate__item--right {
                width: 20%;
                height: 100%;
                position: relative;
                ul {
                    height: 100%;
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin: 0 !important;
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 15px 15px;
                        position: relative;
                        p {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0;
                            .count-cart-item {
                                width: 16px;
                                height: 16px;
                                background-color: #f94f4f;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50px;
                                position: absolute;
                                z-index: 200;
                                top: 0px;
                                right: 8px;
                                span {
                                    font-family: "Mulish", sans-serif;
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 11px;
                                    color: $color-white;
                                }
                            }
                            svg.icon--menu {
                                stroke: #181818 !important;
                            }
                        }
                        &:hover>p {
                            cursor: pointer;
                            color: $color-blue !important;
                        }
                        &:hover>p>svg.icon--menu path {
                            cursor: pointer;
                            stroke: $color-blue !important;
                        }
                    }
                }
                &.showPopup>.popup--login {
                    visibility: visible;
                    @include animate-css(fadeIn);
                }
                .popup--login {
                    visibility: hidden;
                    position: absolute;
                    z-index: 100;
                    bottom: -97px;
                    right: 0;
                    background: #ffffff;
                    border-radius: 8px;
                    width: 150px;
                    height: 85px;
                    padding: 10px 10px;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    span {
                        padding: 10px;
                        width: 100%;
                        height: 31px;
                        border-radius: 8px;
                        font-family: "Mulish", sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 15px;
                        display: flex;
                        align-items: center;
                        color: #181818;
                        &:hover {
                            cursor: pointer;
                            background: #edf2f7;
                        }
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                        right: 15%;
                        top: -7px;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-bottom: 8px solid #ffffff;
                    }
                }
            }
        }
    }
}

.submenu-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    object-fit: contain;
}

.submenu-user {
    display: none;
    &.showInformation {
        display: block;
        @include animate-css(fadeIn);
    }
}

li>p>.nameUser {
    font-weight: bold;
    font-size: 14px;
    padding: 0 5px;
}

.iconRotate--90 {
    transition: 0.2s linear;
    transform: rotate(-90deg);
}

.iconRotate-0 {
    transition: 0.2s linear;
    transform: rotate(0deg);
}