.componentHeader{
    width: 100%;
    /* Component-Notify */
    .componentHeader__top--TextSlideShow{
        height: 36px;
    }
    .componentHeader__top--navigation{
        height:85px !important;
        max-height: 85px !important;
        background: $bgWhile;
        .componentHeader__top--logo{
            display: flex;
            align-items: center;
            &:hover{
                cursor: pointer;
            }
            .brand-logo{
                width: 168px;
                height: 85px;
                max-height: 85px;
                object-fit: cover;
            }
        }
        .componentHeader__top--menu{
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            .ant-menu-horizontal{
                width: inherit !important;
                border-bottom: none !important;
                justify-content: flex-end;
                .ant-menu-item{
                    width: max-content;
                    height: max-content;
                }
                .disable--boder::after{
                    border: none !important;
                }
            }
            .ant-menu-title-content{
                a{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 12pt;
                line-height: 21px;
                color: #213362;
                }
                .custom--button-login{
                    @extend a;
                    background: #090D48 !important;
                    color: #FFFFFF !important;
                    border-radius: 5px;
                    padding: 18px 10px 18px 10px !important;
                    width: 180px !important;
                    .anticon-user{
                        margin-right: 10px;
                        font-size: 16pt;
                    }
                    &:hover{
                        background: #FF5243
                        !important;
                        color: #FFFFFF !important;
                        transition-delay: 3000ms;
                        -webkit-transition: width .5s ease-in-out,height .5s ease-in-out;
                        transition: width .5s ease-in-out,height .5s ease-in-out;
                        -webkit-transform: translate(-50%,-50%);
                        transform: translate(-50%,-50%);
                    }
                }
            }
            .subMenu__User{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 250px !important;
                padding: 0 20px;
                height: 66px;
                &>a{
                    margin: 0 0 0 20px !important;
                }
                // &>img{
                //     border-radius: 5px !important;
                // }
                .email{
                    margin: 0 auto !important;
                    font-family: 'Roboto', sans-serif;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12pt;
                    line-height: 21px;
                    color: #D42019;
                }
                &:hover{
                    cursor: pointer;
                }
                &:hover>.modal__User{
                    visibility: visible;
                }
                &>.modal__User{
                    // visibility: hidden;
                    padding: 15px 20px;
                    position: absolute;
                    width: calc(100% - 20px *2);
                    min-height: 292px;
                    background: #FCFCFC;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 6px;
                    bottom: -292px;
                    right: 20px;
                    z-index: 100;
                    .modal__User--top{
                        position: relative;
                        margin-bottom: 10px;
                        &::after{
                            content: "";
                            position: absolute;
                            right: -20px;
                            bottom: -10px;
                            width: 210px;
                            height: 0.2px;
                            background: #C4C4C4;
                        }
                        &>.roles{
                            width: max-content;
                            height: 21px;
                            line-height: 14px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            padding: 14px 20px;
                            font-family: 'Roboto', sans-serif;
                            border-radius: 6px;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 12px;
                        }
                        &>.isSupperAdmin{
                            @extend .roles;
                            background: #FF3634;
                            color: #FFFFFF;
                        }
                        &>.isCompanyManager{
                            background: #090D48;
                            color: #FFCE60;
                        }
                        &>.isUser{
                            background: #FFCE60;
                            color: #090D48;
                        }
                        
                    }
                    .hello__User{
                        word-spacing: -1px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 600;
                        font-style: normal;
                        font-size: 14px;
                        line-height: 14px;
                        margin-bottom: 10px !important;
                    }
                    .modal__User--body{
                        padding:5px 0;
                        .title--info{
                            font-size: 10pt !important;
                            word-spacing: 0px;
                            font-family: 'Roboto', sans-serif !important;
                        }
                    }
                    
                }
                
                
            }
        }
    }
}