.container-1440 {
    max-width: calc(1440px - 24px*2);
    padding: 0 24px;
    margin: 0 auto;
}

.container-1200 {
    max-width: calc(1260px - 20px*2);
    padding: 0 20px;
    margin: 0 auto;
}

.container-1110 {
    max-width: calc(1150px - 20px*2);
    padding: 0 20px;
    margin: 0 auto;
}