.btn {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: $btn-color;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    padding: 1rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    .custom--svg {
        font-size: 18px !important;
    }
    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        bottom: 100%;
        right: 100%;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: $btn-hover;
        transform-origin: center;
        transform: translate3d(50%, 50%, 0) scale3d(0, 0, 0);
        transition: transform 0.5s ease-in-out;
    }
    &:hover {
        cursor: pointer;
        &::before {
            transform: translate3d(100%, 100%, 0) scale3d(15, 15, 15);
        }
    }
    & .bold {
        font-style: normal;
        font-weight: 600;
        font-family: "Roboto", sans-serif !important;
        font-size: 11pt !important;
    }
}
